@model SyncMe.Models.Content

@{
    ViewData["Title"] = "Deletar";
}

<h3>Você tem certeza que deseja deletar este item?</h3>
<div>
    <h4>Conteúdo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Título
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Resumo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            Link da Mídia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>
        <dt class="col-sm-2">
            Data de Publicação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            Dificuldade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>